/*simple css reset*/

* {
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    font-size: 12px;
    font-family: "微软雅黑", "黑体", "苹果丽黑";
    overflow-y: hidden;
}

/*header start*/

header {
    position: fixed;
    top: 0;
    border-bottom: 1px solid #E1E1E1;
    width: 100%;
    height: 50px;
    background: #FFF;
}

.change-side-bar {
    height: 100%;
    background: #FFF;
    display: block;
    border-right: 1px solid #E1E1E1;
    width: 50px;
    text-align: center;
    float: left;
    margin: 0;
}

.logo {
    float: left;
}

.logo:before {
    position: relative;
    top: 16px;
    left: 10px;
    content: "数云";
    font-size: 20px;
    font-weight: 800;
    color: #86BD63;
    width: 3em;
    height: 20px;
    line-height: 20px;
}

.logo:after {
    content: "数云运营管理系统";
    color: #333;
    position: relative;
    top: 18px;
    left: 20px;
    font-size: 12px;
}

header nav ul li {
    height: 100%;
    display: inline-block;
    cursor: pointer;
}

header nav ul li a:hover {
    background: rgba(0, 0, 0, 0.02);
}

header nav ul li a {
    padding: 16px 10px;
    color: #333;
    font-size: 14px;
    display: block;
}

header nav {
    float: right;
    height: 100%;
    padding-right: 30px;
}

header .active {
    color: #86BD63;
    background: rgba(0, 0, 0, 0.02);
}

/*header end*/

/*side-bar base start*/
.side-bar {
    position: fixed;
    top: 50px;
    bottom: 0;
    background: #515151;
}

.side-bar a {
    display: block;
}

.side-bar a,
.side-bar a:link,
.side-bar a:visited,
.side-bar a:active,
.side-bar a:hover {
    color: lavender;
}

.side-bar .active {
    background: #373737;
}

.user-name {
    font-size: 1.2em;
    color: #ffffff;
}

.user-department {
    color: lavender;
    transform: scale(0.8333333);

}

/*side-bar base end*/
/*side-bar-mini start*/
.side-bar-mini {
    padding-top: 1em;
    width: 50px;
}

.side-bar-mini .user-info-box img {
    width: 100%;
    height: 50px;
}

.side-bar-mini .user-info-box span {
    display: block;
    margin: 0.5em 0;
    text-align: center;
}

.side-bar-mini .user-name {
    font-size: 1em;
}

.side-bar-mini ul ul,
.side-bar-mini nav p {
    display: none;
}

.side-bar-mini nav ul a {
    padding: 1em 0;
}

.side-bar-mini nav ul li ul a {
    padding: 0.7em 0;
}

.side-bar-mini .icon {
    display: block;
    font-size: 1.2em;
    text-align: center;
}

.side-bar-mini nav ul li:hover > a > p,
.side-bar-mini nav ul li:hover > ul,
.side-bar-mini nav ul li:hover {
    display: block;
    background: #444343;
}

.side-bar-mini nav ul li:hover > .icon,
.side-bar-mini nav ul li:hover > a,
.side-bar-mini nav ul li:hover > a > p {
    color: #ABEA83;
}

.side-bar-mini nav ul li ul,
.side-bar-mini nav ul li p {
    left: 50px;
    width: 180px;
    position: absolute;
    margin-top: -26px;
}

.side-bar-mini nav ul li p {
    padding: 1em 0;
    text-indent: 3em;
}

.side-bar-mini nav ul li ul li {
    padding-left: 3em;
}

.side-bar-mini nav ul li ul {
    margin-top: 2px;
    padding: 1em 0;
    border-top: 1px solid #86BD63;
}

.side-bar-mini .active {
    background: rgba(0, 0, 0, 0.24);
}

.side-bar-mini .active .icon {
    color: #86BD63;
}

.side-bar-mini .copyright {
    display: none;
}

.side-bar-mini .copyright-mini {
    display: block;
    color: #A9A9A9;
    width: 100%;
    transform: scale(0.8);
    position: absolute;
    bottom: 1em;
}

/*side-bar-mini end*/

/*side-bar-wide start*/

.side-bar-wide {
    width: 200px;
}

.side-bar-wide nav ul li a .icon,
.side-bar-wide nav ul li a p {
    display: inline-block;
    font-size: 1em;
    line-height: 1em;
    vertical-align: middle;
}

.side-bar-wide .user-info-box img {
    height: 50px;
    width: 50px;
    float: left;
}

.side-bar-wide .user-info-box {
    padding: 2em 1em 1em 1em;
}

.side-bar-wide .user-info-box span {
    margin: 0 0 0.5em 60px;
    display: block;
}

.side-bar-wide span.user-department {
    margin-left: 40px;
}

.side-bar-wide nav ul li ul {
    display: none;
}

.side-bar-wide nav ul li a {
    padding: 1em 0 1em 1em;
}

.side-bar-wide nav ul li p {
    margin-left: 1em;
}

.side-bar-wide .copyright {
    position: absolute;
    bottom: 1em;
    text-align: left;
    width: 100%;
    color: #A9A9A9;
    transform: scale(0.8333333);
}

.side-bar-wide .copyright p {
    margin-bottom: 1em;
}

.side-bar-wide .copyright-mini {
    display: none;
    visibility: hidden;
}

/*side-bar-wide end*/
/*font icon*/

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.icon {
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.menu-mini:before {
    content: "\e055";
    text-align: center;
}

.menu-wide:before {
    content: "\e056";
    text-align: center;
}

.competence:before {
    content: "\e106";
}

.system:before {
    content: "\e019";
}

.business:before {
    content: "\e139";
}

.info-search:before {
    content: "\e003";
}

.info-monitor:before {
    content: "\e059";
}

.statistics:before {
    content: "\e018";
}

.order:before {
    content: "\e116";
}

.user:before {
    content: "\e008";
}

.relations:before {
    content: "\e178";
}

.password:before {
    content: "\e033";
}
